@tailwind base;
@tailwind components;
@tailwind utilities;

::before,
::after {
    --tw-content: "";
}

/*  modal menu style */
.modal.modal-open {
    display: block;
    opacity: 1;
}

.is-sticky {
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}

.is-sticky {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 20;
    width: 100%;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.is-sticky {
    -webkit-animation: fadeInDown 0.7s ease-in-out 0s normal none 1 running;
    animation: fadeInDown 0.7s ease-in-out 0s normal none 1 running;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-shadow: 0 0 25px 0 rgba(0,0,0,.06);
    --tw-shadow-colored: 0 0 25px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.is-sticky .main-menu .main-menu__item > a {
    display: block;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.translate-x-translate-x-full-120, .offcanvas-open, .menu-expand::after, .before\:rotate-115::before, .before\:transform::before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-translate-x-full-120 {
    --tw-translate-x: 120%;
    transform: var(--tw-transform);
}


/*  offcanvas menu style */
.offcanvas.offcanvas-open {
    --tw-translate-x: 0px;
    transform: var(--tw-transform);
}

.offcanvas .offcanvas-menu ul li {
    position: relative;
}

.offcanvas .offcanvas-menu ul li .menu-expand {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    height: 2.75rem;
    width: 1.5rem;
    cursor: pointer;
    background-color: transparent;
}

.offcanvas .offcanvas-menu ul li .menu-expand::before, .offcanvas .offcanvas-menu ul li .menu-expand::after {
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 10;
    height: 1px;
    width: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(31 34 38/var(--tw-bg-opacity));
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    content: "";
}

.offcanvas .offcanvas-menu ul li .menu-expand::after {
    --tw-rotate: 90deg;
    transform: var(--tw-transform);
}

.offcanvas .offcanvas-menu ul li.active > .menu-expand::after {
    --tw-rotate: 0deg;
    --tw-scale-x: .75;
    --tw-scale-y: .75;
    transform: var(--tw-transform);
}

/* offcanvas menu style ENd */

/* hero slider style start  */
.hero-slider .swiper-pagination-bullet {
    position: relative;
    height: 1.25rem;
    width: 1.25rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(252 101 57/var(--tw-border-opacity));
    background-color: transparent;
    opacity: 1;
}

.hero-slider .swiper-pagination-bullet::before {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    z-index: 10;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(252 101 57/var(--tw-border-opacity));
    content: "";
}

.hero-slider .swiper-pagination-bullet-active::before {
    --tw-bg-opacity: 1;
    background-color: rgb(252 101 57/var(--tw-bg-opacity));
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.hero-slider .swiper-slide-active .slider-content > * {
    -webkit-animation: fadeInLeft 1.3s ease-in-out;
    animation: fadeInLeft 1.3s ease-in-out;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.hero-slider .swiper-slide-active img {
    -webkit-animation: fadeInRight 1.3s ease-in-out;
    animation: fadeInRight 1.3s ease-in-out;
    transition-delay: 1000ms;
}

/* hero slider style end  */
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 14px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}

@media (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
.container {
    max-width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1170px;
    }
}

.before\:empty::before {
    content: "";
}

.before\:transform::before {
    transform: var(--tw-transform);
}

.before\:w-5::before {
    width: 1.25rem;
}

.before\:rotate-115::before {
    --tw-rotate: 115deg;
    transform: var(--tw-transform);
}

.before\:top-3::before {
    top: 0.75rem;
}

.before\:absolute::before {
    position: absolute;
}

.before\:-right-5::before {
    right: -1.25rem;
}

.before\:h-1px::before {
    height: 1px;
}

.before\:bg-dark::before {
    --tw-bg-opacity: 1;
    background-color: rgb(31 34 38/var(--tw-bg-opacity));
}

.custom-tab-nav .active a {
    --tw-text-opacity: 1;
    color: rgb(252 101 57/var(--tw-text-opacity));
}

.custom-tab-nav li.active a:before {
    width: 100%;
}

.shop-tab-nav .active {
    --tw-text-opacity: 1;
    background-color: rgb(252 101 57/var(--tw-text-opacity));
    color: #FFFFFF;
}
